.contenedor-temp {
    background-color: rgb(240, 240, 236);
    border: 1px;
    width: 300px;
    height: 300px;
    margin: 200px;
}
  
/* .imag-test {
    height: 100%;
    width: auto;
}
  
.contenedor-text-test {
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}
  
.name-test {
    font-size: 1.3rem;
}
  
.burden-test {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}
  
.text-test {
    font-size: 1.1rem;
    text-align: justify;
}
.imag-test{
    height: 100%;
    width: auto;
}
.contenedor-text-test{
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}
.name-test{
    font-size: 1.3rem; 
} */